
#tabel{
    border:1px solid black;
    border-collapse:collapse;
    margin-top:10px;
    display: absolute;
}

th{
    border-bottom:1px solid black;
}

.buttons{
    text-indent:350px;
    margin-bottom:5px;
}

.crt ,.prezenta, .sterge, .modifica {
    float:left;
    width:90px;
    text-indent:5px;
    border-style: solid;
    border-width: 1px;
    height:25px;
}

.mat, .data{
    float:left; 
    width:150px;
    text-indent:5px;  
    border-style: solid;  
    border-width: 1px; 
    height:25px;
}

.col_login1{
    float:left; 
    width:100px;
    text-indent:5px;  

    height:25px;
}

.col_login2{
    float:left; 
    width:200px;
    text-indent:5px;  

    height:25px;
}
.recover{
    float:left; 
    width:300px;
    text-indent:5px;  
    height:25px;
    font-family:Arial;
    font-size:0.9em;
}

.login_div{
    margin-left:10px;
    width:350px;
}
.login_text{
    font-family:Arial;
    font-size:1.1em;
}

.afis_checkbox{

    float:left;
    width:100px;
    text-indent:5px;
    border-style: solid;
    border-width: 1px;
    height:25px;
}

.header{
    clear: both;
    width: 100%;
    border: 1px solid black;
    background-color: #0066CC;
    height: 50px;
    text-align: right;
} 

.footer{
    width: 100%;
    border:1px solid black;
    background-color: #0066CC;
    height: 80px;
    text-align: center;
    clear:both;
}

li{
    display:inline;
}

#afisare_user, #afisare_grupa{
    width:750px;
    margin-top:10px;
    text-align:center;
}

.meniu_list a{
    display: block; 
    width: 9em; 
    border: 1px solid #808; 
    font-family: arial, verdana, sans-serif;  
    font-size: 1em;
    text-align: center; 
    border-radius: 55px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);

}
.meniu_list li{
    list-style: none;
    width: 150px;
}

@media only screen and (max-width:960px) and (min-width:769px){
    *{
        color:red;
    }
}

@media only screen and (max-width:768px) and (min-width:481px){
    *{
        color:blue;
    }
}

@media only screen and (max-width:480px){
    *{
        color:green;
    }
}

@media only screen and (max-device-width:480px){
    *{
        color:red;
    }
}

@media only screen and (max-device-width:768px){
    *{
        color:green;
    }
}

#frame{
    width:1000px;
    margin:auto;
    border:1px solid black;
}

#meniu_div{
    height:auto;
    float:left;
    margin:auto;
    width:200px;
    text-align: center;
}

#main{
    float:left;
    border-left:1px solid black;
    width:798px;
}

#administrare{

    width:750px;
    margin-left: 5px;
}

#administrare_box{
    border-color: black;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    float:left;
    width:300px;
    height:300px;
    
    border: solid;
    border-width: 1px;
    BACKGROUND-COLOR: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
 
    

}
#administrare_header{
    text-align: center;
    color:blue;
    text-transform: uppercase;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    float:left;
    width:616px;
    height:20px;
    text-indent: 5px;
    border: solid;
    border-width: 1px;
    border-color: black;
    BACKGROUND-COLOR: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
}

#administrare_header_text{
     text-align: center;
    color:blue;
    text-transform: uppercase;
    
}
#administrare_links li{
    list-style: none;
    display: block;
}

.col_grupa1{
    margin-left: 20px;
    float:left; 
    width:120px;
    text-indent:5px;  

    height:25px;
}

.col_grupa2{
    float:left; 
    width:150px;
    text-indent:5px;  

    height:25px;
}

#documente{
    float:left;
    min-height: 50px;
    border:1px solid black;
}

#suportCurs{
    width:350px;
}

#noutati{
    width: 700px;
    margin-left: 20px;
}
.noutati_box{
    position: relative;
    margin: 15px 15px 5px 20px;
    float: left;
    width: 91.5%; 
    text-indent: 5%;
    border-width: thin;
    border-color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.noutati_box1{
 float:left;
 height: 20px;  
 width: 100%; 
 border: 1px solid black;
 border-radius: 5px;
}

.noutati_col1{   
    float:left;
    width: 45%;   
}
.noutati_col2{   
    float:left;
    width: 45%;     
}

.noutati_box2 .noutati_col1{
    float: left;
    height: 20px;  
    width: 45%;
    border: 1px solid black;
    margin-top: 20px; 
    border-radius: 5px;
    text-align: center;
}

.noutati_box2 .noutati_col2{
    float: left;
    height: 20px;  
    width: 45%;
    border: 1px solid black;
    margin: 20px 0px 0px 60px;
    border-radius: 5px;
    text-align: center;
}

.noutati_text{
    float:left;
    margin-left: 15px;
    text-indent: 5px;
    width: 91.5%;
}
.formNews{
    float: left;
    color: blue;
    margin: 15px 5px 15px 20px;
    width: 91.5%;
    text-indent: 5px; 
}
