table{
border:1px solid black;
border-collapse:collapse;
width:650px;
margin:auto;
margin-top:10px;
text-align:center;
}

th{
border-bottom:1px solid black;
}

.buttons{
text-indent:350px;
margin-bottom:5px;
}

.crt ,.prezenta, .sterge, .modifica {
 float:left;
 width:70px;
 text-indent:5px;
 border-style: solid;
 border-width: 1px;
 height:25px;
}

.mat, .data{
float:left; 
width:150px;
text-indent:5px;  
border-style: solid;  
border-width: 1px; 
height:25px;
}

.col_login1{
float:left; 
width:100px;
text-indent:5px;  

height:25px;
}

.col_login2{
float:left; 
width:200px;
text-indent:5px;  

height:25px;
}
.recover{
float:left; 
width:300px;
text-indent:5px;  
height:25px;
font-family:Arial;
font-size:0.9em;
}

.login_div{
margin-left:10px;
	width:350px;
}
.login_text{
	font-family:Arial;
font-size:1.1em;
}

