.body{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.footer{
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 40px;
   width: 100%;
   background-color: #c3c3c3;
}

.footer .form-group ul{
   position: absolute;
   margin-left: 46%;
}

.footer .form-group li{
    display: inline;
    float: left;
}
    
.footer .form-group p{
    margin: 10px 0px 0px 10px;
}

.navbar-header{
    width: 100%;
}

.chenar{
    margin-top: 3%;
}

.chenar label{
     border: 1px #e4e4e4 solid;
}

.text-primary{
    border: 1px #e4e4e4 solid;
}

/*
.navbar-collapse collapse{
    width: 80% !important;
    float: left;
}

*/
