table{
border:1px solid black;
border-collapse:collapse;
width:650px;
margin:auto;
margin-top:10px;
text-align:center;
}

th{
border-bottom:1px solid black;
}

.buttons{
text-indent:350px;
margin-bottom:5px;
}

.crt ,.prezenta, .sterge, .modifica {
 float:left;
 width:70px;
 text-indent:5px;
 border-style: solid;
 border-width: 1px;
 height:25px;
}

.mat, .data{
float:left; 
width:150px;
text-indent:5px;  
border-style: solid;  
border-width: 1px; 
height:25px;
}

.col_login1{
float:left; 
width:100px;
text-indent:5px;  

height:25px;
}

.col_login2{
float:left; 
width:200px;
text-indent:5px;  

height:25px;
}
.recover{
float:left; 
width:300px;
text-indent:5px;  
height:25px;
font-family:Arial;
font-size:0.9em;
}

.login_div{
margin-left:10px;
	width:350px;
}
.login_text{
font-family:Arial;
font-size:1.1em;
}

.afis_checkbox{
 
 float:left;
 width:100px;
 text-indent:5px;
 border-style: solid;
 border-width: 1px;
 height:25px;
 }

 #header{
 margin:auto;
 width:700px;
 border:1px solid black;
 background-color: #0066CC;
 height: 50px;
 text-align: right;
}

#footer{
 margin:auto;
 width:700px;
 border:1px solid black;
 background-color: #0066CC;
 height: 80px;
 text-align: center;
}

li{
display:inline;
}

#afisare_user{
width:650px;
margin:auto;
margin-top:10px;
text-align:center;
}

table{
border:1px solid black;
border-collapse:collapse;
width:650px;
margin:auto;
margin-top:10px;
text-align:center;
}

th{
border-bottom:1px solid black;
}

.buttons{
text-indent:350px;
margin-bottom:5px;
}

.crt ,.prezenta, .sterge, .modifica {
 float:left;
 width:90px;
 text-indent:5px;
 border-style: solid;
 border-width: 1px;
 height:25px;
}

.mat, .data{
float:left; 
width:150px;
text-indent:5px;  
border-style: solid;  
border-width: 1px; 
height:25px;
}

.col_login1{
float:left; 
width:100px;
text-indent:5px;  

height:25px;
}

.col_login2{
float:left; 
width:200px;
text-indent:5px;  

height:25px;
}
.recover{
float:left; 
width:300px;
text-indent:5px;  
height:25px;
font-family:Arial;
font-size:0.9em;
}

.login_div{
margin-left:10px;
	width:350px;
}
.login_text{
font-family:Arial;
font-size:1.1em;
}

.afis_checkbox{
 
 float:left;
 width:100px;
 text-indent:5px;
 border-style: solid;
 border-width: 1px;
 height:25px;
 }

 #header{
 margin:auto;
 width:1000px;
 border-bottom:1px solid black;
 background-color: #0066CC;
 height: 50px;
 text-align: right;
}

#footer{
 margin:auto;
 width:1000px;
 border-top:1px solid black;
 background-color: #0066CC;
 height: 80px;
 text-align: center;
 clear:both;
}

li{
display:inline;
}

#afisare_user{
width:650px;
margin:auto;
margin-top:10px;
text-align:center;
}

.meniu_list a{
	  display: block; 
	  width: 9em; 
	  border: 1px solid #808; 
	  font-family: arial, verdana, sans-serif;  
	  font-size: 0.8em;
	  text-align: center; 
	  font-size: 70%;
	  border-radius: 55px;
	  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	
}
.meniu_list li{
  list-style: none;
}

@media only screen and (max-width:960px) and (min-width:769px){
	*{
	color:red;
	}
}

@media only screen and (max-width:768px) and (min-width:481px){
	*{
	color:blue;
	}
}

@media only screen and (max-width:480px){
	*{
	color:green;
	}
}

@media only screen and (max-device-width:480px){
	*{
	color:red;
	}
}

@media only screen and (max-device-width:768px){
	*{
	color:green;
	}
}

#frame{
width:1000px;
margin:auto;
border:1px solid black;
}

#meniu_div{
 height:auto;
 float:left;
 margin:auto;
 width:200px;
 text-align: center;
 }

#main{
float:left;
border-left:1px solid black;
width:798px;
}